In [5]:
%matplotlib inline

import pandas as pd
import snscrape.modules.twitter as sntwitter

In [6]:
!pip install -q snscrape==0.5.0.20230113

In [7]:
pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

## Extraction of the words to be used for the scraping

### Most frequent words per category of misogyny

In [8]:
# most common in dominance
common_words_dominance = [('bitch', 39), ('women', 38), ('shut', 30), ('fuck', 28), ('get', 20), ('men', 18),
                          ('like', 16), ('womensuck', 16), ('fucking', 15), ('skank', 13), ('cunt', 11),
                          ('hoe', 11), ('woman', 11), ('rape', 11), ('whore', 10), ('man', 9), ('dick', 8), 
                          ('girl', 8), ('know', 8), ('ass', 8)]

# most common in derailing
common_words_derailing= [('rape', 57), ('women', 43), ('men', 24), ('bitch', 17), ('woman', 16), ('like', 12), ('whore', 12),
                         ('want', 10), ('culture', 7), ('sexual', 6), ('get', 6), ('people', 6), ('fuck', 5), ('assault', 5),
                         ('victim', 4), ('see', 4), ('man', 4), ('girl', 4), ('goes', 4), ('yesallmen', 4)]

# most common in sexual harassment
common_words_sexual_harassment = [('bitch', 156), ('dick', 71), ('ass', 56), ('cunt', 55), ('fuck', 49), ('like', 48), 
                                  ('rape', 42), ('whore', 42), ('women', 36), ('pussy', 30), ('cock', 29), ('suck', 28), 
                                  ('hoe', 27), ('woman', 24), ('get', 24), ('shit', 24), ('fucking', 23), ('girl', 22),
                                  ('got', 21), ('make', 17)]

# most common in discredit

common_words_discredit = [('bitch', 534), ('whore', 185), ('women', 157), ('cunt', 148), ('hoe', 132), ('ass', 113), 
                          ('stupid', 106), ('like', 103), ('fuck', 90), ('fucking', 80), ('womensuck', 77), ('girl', 70), 
                          ('bitches', 67), ('slut', 66), ('get', 63), ('woman', 63), ('shit', 62), ('skank', 60),
                          ('know', 57), ('one', 46)]

# most common in stereotype
common_words_stereotype=[('women', 59), ('woman', 34), ('hysterical', 33), ('bitch', 25), ('like', 20), ('womensuck', 18),
                         ('hoe', 17), ('get', 15), ('good', 13), ('cunt', 13), ('girls', 13), ('men', 12), ('man', 11),
                         ('always', 9), ('fat', 9), ('ugly', 8), ('know', 8), ('every', 8), ('girl', 8), ('much', 8)]

### Selection of the most significat words among the previous ones

In [9]:
# most common in dominance
common_words_dominance = [('bitch', 39), ('women', 38), ('shut', 30), ('fuck', 28), ('men', 18), ('womensuck', 16),
                          ('fucking', 15), ('skank', 13), ('cunt', 11), ('hoe', 11), ('rape', 11), ('whore', 10), 
                          ('dick', 8), ('ass', 8)]

# most common in derailing
common_words_derailing= [('rape', 57), ('women', 43), ('men', 24), ('bitch', 17), ('whore', 12), ('sexual', 6), ('fuck', 5),
                         ('assault', 5), ('victim', 4), ('yesallmen', 4)]

# most common in sexual harassment
common_words_sexual_harassment = [('bitch', 156), ('dick', 71), ('ass', 56), ('cunt', 55), ('fuck', 49), ('rape', 42), 
                                  ('whore', 42), ('women', 36), ('pussy', 30), ('cock', 29), ('suck', 28), ('hoe', 27), 
                                  ('shit', 24), ('fucking', 23)]

# most common in discredit
common_words_discredit = [('bitch', 534), ('whore', 185), ('women', 157), ('cunt', 148), ('hoe', 132), ('ass', 113), 
                          ('stupid', 106), ('fuck', 90), ('fucking', 80), ('womensuck', 77), ('bitches', 67), ('slut', 66), 
                          ('shit', 62), ('skank', 60)]

# most common in stereotype
common_words_stereotype=[('women', 59), ('hysterical', 33), ('bitch', 25), ('womensuck', 18), ('hoe', 17), ('cunt', 13),
                         ('men', 12), ('fat', 9), ('ugly', 8)]

### Creation of a general list comprising all the selected words

In [10]:
gen_list = [('bitch', 39), ('women', 38), ('shut', 30), ('fuck', 28), ('men', 18), ('womensuck', 16), ('fucking', 15), 
            ('skank', 13), ('cunt', 11), ('hoe', 11), ('rape', 11), ('whore', 10), ('dick', 8), ('ass', 8), ('sexual', 6),
            ('assault', 5), ('victim', 4), ('yesallmen', 4), ('pussy', 30), ('cock', 29), ('suck', 28), ('shit', 24), 
            ('stupid', 106), ('bitches', 67), ('slut', 66), ('hysterical', 33), ('fat', 9), ('ugly', 8)]

## Definition of the scraping function

In [11]:
def tweet_scraper(query, n_tweet):
    
    attributes_container = []
    max_tweet = n_tweet
    
    # we scraping and enumerate to count tweets
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(query).get_items()):

        if i>max_tweet:
            break
            
        attributes_container.append([tweet.user.username,
                                     tweet.user.verified,
                                     tweet.user.created,
                                     tweet.user.followersCount, #persone che seguono l'utente
                                     tweet.user.friendsCount, #persone seguite dall'utente
                                     tweet.retweetCount,
                                     tweet.lang,
                                     tweet.date,
                                     tweet.likeCount,
                                     tweet.sourceLabel,
                                     tweet.id,
                                     tweet.rawContent,
                                     tweet.hashtags,
                                     tweet.conversationId,
                                     tweet.inReplyToUser,
                                     tweet.coordinates,
                                     tweet.place])
        
    # we create the datafrate to be returned as output
    return pd.DataFrame(attributes_container, columns=["User",
                                                       "verified",
                                                       "Date_Created",
                                                       "Follows_Count",
                                                       "Friends_Count",
                                                       "Retweet_Count",
                                                       "Language",
                                                       "Date_Tweet",
                                                       "Number_of_Likes",
                                                       "Source_of_Tweet",
                                                       "Tweet_Id",
                                                       "Tweet",
                                                       "Hashtags",
                                                       "Conversation_Id",
                                                       "In_reply_To",
                                                       "Coordinates",
                                                       "Place"])

In [12]:
# for each word in the gen_list, the function extracts the tweets responding to the specified query and saves them in a
# dataframe

def tweets_df(common_words, kind_of_work, query, num_tweets=1):
    [kind_of_work]
    data_frames = []
    for word in common_words:
        #print(word[0])  
        df = tweet_scraper('{}, {}'.format(word[0], query), num_tweets)
        df.insert(loc= 0, column = 'key_word', value = word[0])
        df.insert(loc= 0, column = 'kind_of_work', value = kind_of_work)
        #df.insert(loc= 0, column = 'Hashtag', value = hashtags)
       
        data_frames.append(df)
        
        
    for df in data_frames[1:]:
        data_frames[0] = data_frames[0].append(df, ignore_index = True)
    
    #display(data_frames[0])
    return data_frames[0]

## An example of scraping

In what follows, we report the pipeline that has been followed to download the tweets referring to the occupation "arts". Its aim is to show an example of a workflow that the four of us developed and followed also for the scraping of tweets related to the other four professions. We avoid reporting them because it would be unuseful and too redundat.

In [17]:
# the function requires as parameters the list of selected words, a query containing a string (an hashtag, a mention and/or the 
# sequence of "Name Surname" of the victim. The result is saved in a dataframe.
# As regards "arts", we extracted tweets addressed to 16 women (artists, photographers, fashion designers and film directors
# and architects)

df_MA = tweets_df(gen_list, query='(#marinaabramovic OR @ArtistisPresent) until:2023-02-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_12696\3821845485.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [24]:
df_MA2 = tweets_df(gen_list, query='("Marina Abramovic" OR "Marina Abramović") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [119]:
df_NO = tweets_df(gen_list, query='(#nerioxman OR @NeriOxman)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [28]:
df_NO2 = tweets_df(gen_list, query='("Neri Oxman") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [149]:
df_TR = tweets_df(gen_list, query='(#tracyreese OR @Tracy_Reese)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [30]:
df_TR2 = tweets_df(gen_list, query='("Tracy Reese") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [158]:
df_AR = tweets_df(gen_list, query='(#arianarichards OR @GalleryAriana)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [32]:
df_AR2 = tweets_df(gen_list, query='("Ariana Richards") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [168]:
df_SMC = tweets_df(gen_list, query='(#stellamccartney OR @StellaMcCartney) until:2023-02-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [34]:
df_SMC2 = tweets_df(gen_list, query='("Stella McCartney") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [193]:
df_AL = tweets_df(gen_list, query='(#annieleibovitz OR @annieleibovitz) until:2023-02-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [212]:
df_AL2 = tweets_df(gen_list, query='("Annie Leibovitz") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [236]:
df_KB = tweets_df(gen_list, query='(#kathrynbigelow OR @KatBigelow)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [40]:
df_KB2 = tweets_df(gen_list, query='("Kathryn Bigelow") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [25]:
df_CS = tweets_df(gen_list, query='(#cindysherman OR @cindyshermanart)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_14500\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [42]:
df_CS2 = tweets_df(gen_list, query='("Cindy Sherman") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [255]:
df_BK = tweets_df(gen_list, query='(#barbarakruger OR @barbarakruger)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [46]:
df_BK2 = tweets_df(gen_list, query='("Barbara Kruger") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [31]:
df_JS = tweets_df(gen_list, query='(#jennysaville OR @jennysavilleart)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_14500\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [263]:
df_JS2 = tweets_df(gen_list, query='("Jenny Saville") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [35]:
df_SN = tweets_df(gen_list, query='(#shirinneshat OR @IranianNeshat)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_14500\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [52]:
df_SN2 = tweets_df(gen_list, query='("Shirin Neshat") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [38]:
df_JiS = tweets_df(gen_list, query='(#jilsander OR @jilsander)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_14500\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [285]:
df_JiS2 = tweets_df(gen_list, query='("Jil Sander") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [297]:
df_JM = tweets_df(gen_list, query='(#juliemehretu OR @JulieMehretu)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [60]:
df_JM2 = tweets_df(gen_list, query='("Julie Mehretu") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [304]:
df_YK = tweets_df(gen_list, query='(#yayoikusama OR @KUSAMA_YAYOI OR #kusamayayoi)', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [62]:
df_YK2 = tweets_df(gen_list, query='("Yayoi Kusama") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [319]:
df_AJ = tweets_df(gen_list, query='(#aurorajames OR @AuroraJames OR "Aurora James"', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [66]:
df_AJ2 = tweets_df(gen_list, query='("Aurora James") until:2023-06-02', kind_of_work='arts', num_tweets=40)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

In [50]:
df_WM2 = tweets_df(gen_list, query='("Wangechi Mutu") until:2023-06-02', kind_of_work='arts', num_tweets=20)

C:\Users\aldoc\AppData\Local\Temp\ipykernel_10596\4032399273.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data_frames[0] = data_frames[0].append(df, ignore_index = True)

### Composition of the dataset

In [19]:
# for each category, we created two dataframes: one comprising misogynous tweets, the other non-misogynous ones

# tweet selection has been carried out manually, scrolling and judging each one of them. During the scraping, the selected 
# tweets (both misogynous and non-mysoginous) were noted down to be added to the dataframe alltogether at the end of the 
# selection operations, as shown in the next cells

In [366]:
selected_1 = df_MA.loc[[0, 14, 16, 80, 94, 324, 335, 418]]

In [367]:
selected_1 = pd.concat([selected_1, 
                        df_MA2.loc[[5, 9, 34, 44, 100, 103, 188, 208, 210, 303, 306, 307, 311, 313, 320, 351, 356, 378, 
                                    387, 552, 573, 582, 605, 637, 640, 650, 690, 724, 780, 785]],
                        df_NO.loc[[122, 140, 141]],
                        df_NO2.loc[[0, 27, 37]],
                        df_TR2.loc[[45, 62, 113, 167]],
                        df_SMC.loc[[103, 110, 112, 115, 298, 300, 568, 569, 570]],
                        df_SMC2.loc[[8, 62, 79, 81, 101, 105, 205, 215, 221, 222, 325, 373, 380, 445, 517, 537, 538, 561, 740]],
                        df_AL.loc[[229, 230, 362, 367, 368, 372]],
                        df_AL2.loc[[0, 2, 15, 17, 18, 59, 88, 152, 153, 170, 174, 263, 267, 270, 291, 292, 294, 376, 383, 385,
                                    389, 396, 418, 419, 485, 500, 584]],
                        df_KB.loc[[97, 144, 145]],
                        df_KB2.loc[[19, 150]],
                        df_CS2.loc[[15, 108, 119, 183]],
                        df_BK2.loc[[34, 150, 246]],
                        df_JS2.loc[[0, 3, 6]],
                        df_SN2.loc[[29, 43]],
                        df_JiS2.loc[[12, 149, 203, 211, 315]],
                        df_JM.loc[[14, 32]],
                        df_YK.loc[[18, 73]],
                        df_YK2.loc[[34, 62, 78, 89, 113, 180, 199, 254, 268, 363, 494]],
                        df_AJ.loc[[1, 45, 50, 129, 165]]
                       ])

In [368]:
selected_0 = df_MA.loc[[168, 188, 213, 314, 320]]

In [369]:
selected_0 = pd.concat([selected_0, 
                        df_MA2.loc[[644, 651, 662, 786]],
                        df_NO.loc[[0, 139, 153]],
                        df_NO2.loc[[21, 22]],
                        df_TR.loc[[0, 48]],
                        df_TR2.loc[[169]],
                        df_AR.loc[[0, 1]],
                        df_SMC2.loc[[19, 335, 568, 580, 592, 597, 611, 677, 681, 688]],
                        df_AL.loc[[594]],
                        df_AL2.loc[[9, 24, 28, 37, 52, 140, 157, 216, 317, 406, 433, 457]],
                        df_KB.loc[[121, 152, 158]],
                        df_KB2.loc[[190]],
                        df_CS2.loc[[17, 37, 72, 149, 220, 238, 254]],
                        df_BK2.loc[[4, 19, 87]],
                        df_JS2.loc[[5, 32, 61, 93]],
                        df_WM2.loc[[21, 22]],
                        df_SN2.loc[[36, 38, 39, 45, 62]],
                        df_JM.loc[[4, 5]],
                        df_YK.loc[[0, 1, 68]],
                        df_YK2.loc[[9, 19, 274, 472]]
                       ])

In [372]:
selected_1 = selected_1[['kind_of_work', 'key_word', 'Tweet']]   # selection of the interesting columns
selected_0 = selected_0[['kind_of_work', 'key_word', 'Tweet']]

In [373]:
selected_1['misogynous'] = 1                                     # annotation of the information about 'misogyny'
selected_0['misogynous'] = 0

In [374]:
arts = pd.concat([selected_1, selected_0], axis=0)               # concatenation of misogynous and non-misogynous tweets

In [375]:
arts.reset_index(drop=True, inplace=True)

In [376]:
# to be sure that all the tweets were different (when their number is high, it can happen that you select twite the same content
# therefore it is necessary to remove duplicates

arts = arts.drop_duplicates(subset='Tweet', keep="first")

In [20]:
# the dataframe is ready to be exported. The partial datasets (i.e., containing the extracted tweets for singe categories)
# are available in the folder 'data_sets'. Their name are: 'arts.csv', 'sport.csv', 'politics.csv', 'sci_cul.csv', 'show.csv'

# arts.to_csv("arts.csv", sep=",", index=False)